body {
  margin: 0;
  font-family: Montserrat , PT Serif;
    
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: thistle;
}
.body-container{
  background-color: #e9ecef;
}


.page-footer{
height: auto;

}
.footer{
  padding-top: 40px;
  color: white;
}
.top-searches h6{
  line-height: 40px !important;
  color: white;
}
.logo-secondary{
  width:200px;
  margin-top: 10px;
  margin-bottom: 11px;
}
.footer-divider{
border: 1px solid  #74c4e4;
}
.terms-condition{
font-size: 10px;
color: #74c4e4;
}
.lower-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  
.list{
    padding-top: 48px;
}
.list li a { color: white !important;
 } 
.list-1 li a { color: white !important;
 } 
 #login-container {
  height: auto;
  width: 515px;
  padding: 23px;
  border-radius: 5px;
  position: relative;
  background-color: white;
  margin-bottom:70px;
}
  .profile-img {
    height: 105px;
    width: 109px;
    background: url("./assets/pexels-photo-1239291.jpeg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -29px;
    left: -30px;
    border-radius: 50%;
    
  }
  h1 {
    font-family: 'Sriracha', arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    
  }
  .description{
    margin-bottom: 20px;
    font-size:14px;
    font-weight:500;
  }
  .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size:15px;
  }
  .text-secondary{
    color: #343a40 !important;
  }
  .ax{
    text-align: center;
    
    width: 96px;
    padding: 5px 0;
    border-radius: 5px;
  }
  .card-container{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  

    .fa-heart {
      color: black;
    }
    .card-row{
      justify-content: space-around;
    }
    .sort-by-area{
           width:250px !important;
           height:90px !important;
           border-radius: 15px !important;
    }
    .z{
       font-weight: 200;
    }
  
    .links{
      display: flex;
      letter-spacing: 3px;
    }

  .links a{
    color: #6c757d !important;
    font-size: 12px !important;
    font-weight: bold !important;
  }
  .links .buy-links {
    color:#007bff !important;
  }
  .navbar-container{
    padding-right: 20px;
    padding-left: 20px;
  }
  .icon{
     display:flex;
     justify-content:space-between;
  }
  .divider{
    border-left: 3px solid #007bff;
    height: 91px;
    position: absolute;
    top: 607px;
    z-index: 1;
    right: 680px;
  }
  .card-name{
    font-size: 24px;
    margin-bottom: 1.5rem;
  }
  .city{
       font-size:12px;
  }
  .profile-img2 {
    height: 105px;
    width: 109px;
    background: url("./assets/pexels-photo-220453.jpeg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -29px;
    left: -30px;
    border-radius: 50%;
    
  }
  .profile-img3 {
    height: 105px;
    width: 109px;
    background: url("./assets/pexels-photo-1024311.jpeg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -29px;
    left: -30px;
    border-radius: 50%;
    
  }
  .profile-img4 {
    height: 105px;
    width: 109px;
    background: url("./assets/pexels-photo-1222271.jpeg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -29px;
    left: -30px;
    border-radius: 50%;
    
  }
  .navbar-toggler-icon{
    width:1em !important;
  }
.dropdown-menu{
  top: 49px !important;
    right: -36% !important;
    background-color: #17a2b8 !important;
    min-width: 26rem !important;
  }
  .text-divider{
    border-left: 1px solid #17a2b8;
    height: 17px;
    margin-left: 7px;
    margin-right: 7px;
    display: inline;
}



  @media only screen and (max-width: 768px){
    .navbar-container{
      display: flex;
    }
    .links{
      display: none;
    }
    #login-container{
      
      padding: 10px !important;
      width: 336px !important;
    }
    .card-name{
    font-size: 17px !important;
  }
    .dropdown-menu{
    top: 49px !important;
    right: -13% !important;
    background-color: #17a2b8 !important;
    min-width: 21rem !important;
  }
  .footer-row{
    display: block !important;
    margin-left: 0px !important;
  }
  .footer-icon{
  margin-bottom: 22px !important;
}
.social{
font-size: 11px !important;
}
.image{
left: -11px !important;
height: 85px !important;
    width: 90px !important;
  }
  
  }
