.info-card{
    width: 34rem;
    border: 0px !important;
    background-color: #e9ecef;
}
.info-flex1{
    display:flex;
    justify-content: space-around;
}
.card-img-top{
    width:60px;
}
.card{
    align-items: center;
    
}